@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');


html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(255, 255, 255);
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
*::selection {
  background: transparent;
}


.shredder {
  position: relative;
  width: 20vw;
  height: auto;
  transform: scale(.4);
}

.box {
  position: relative;
  width: 15vw;
  height: 25vw;
  background: rgb(84, 173, 107);
  border-radius: 0 0 20% 20%;
  transform: scale(.4);
  margin: 0 auto;
}
.box-head {
  position: relative;
  width: 6vw;
  height: 4vw;
  margin: 10% auto -33% auto;
  background: rgb(55, 134, 69);
  border-radius: 25% 25% 0 0;
  transition: all 1s ease-out-in-out;
}

.rotate-head {
  transform: rotate(60deg);
  transform-origin: bottom right;
  transition: transform 1s ease-out-in-out;
}
/* .box::after {
  content: "";
  position: absolute;
  width: 15vw;
  height: 5vw;
  background: rgb(102, 103, 104);
  top: 85%;
  left: 0%;
  border-radius: 0 0 60% 60%;
} */

.middle::before {
  content: "";
  position: absolute;
  width: 20vw;
  height: 5vw;
  background: rgb(92, 155, 103);
  top: -10%;
  left: -18%;
  border-radius: 5%;
}

.wheel {
  position: absolute;
  background: linear-gradient(rgb(10, 10, 10), rgb(121, 120, 120));
  border-radius: 100%;
  width: 7vw;
  height: 7vw;
  top: 85%;
  left: 27%;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wheel::before {
  content: "";
  position: absolute;
  background: white;
  border-radius: 55%;
  width: 4vw;
  height: 4vw;
  top: 20%;
  left: 22%;
  z-index: 10000;
  
}
@keyframes spin {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}

.recycle-icon {
  position: relative;
  top: 25%;
  width: 8vw;
  height: 8vw;
}

.recycle-icon::selection {
  background: transparent;
}


.woman {

}

.woman-sitting {
  position: absolute;
  top: 10%;
  left: 5%;
  transform: scale(2);
}

.woman-angry {
  position: relative;
  width: 10vw;
  height: 10vw;
  transition: transform 1s ease-out-in-out;
}

.woman-rotate {
  transform: scale(.5);
  transition: transform 1s ease-out-in-out;
}

.woman-sitting::selection {
  background: transparent;
}


.story {
  width: 80%;
  height: 80%;
  border: solid 1px red;
}

.choose {
  position: absolute;
  width: 55%;
  height: 90%;
  margin: 2.5% 22%;
  background: rgb(221, 210, 210);
  border: solid 5px #2f5fa7;
}
.cover {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 100%;
  opacity: .8;
}
.paper11 {
  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
  font-size: 5vw;
}
.text1 {
  position: absolute;
  width: 90%;
  height: 80%;
  left: -25%;
  top: 25%;
  font-size: 3.5vw;
  z-index: 10000;
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  color: rgb(85, 84, 84);
}
.text2 {
  position: absolute;
  width: 90%;
  height: 80%;
  left: 10%;
  top: 25%;
  font-size: 3.5vw;
  z-index: 10000;
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  color:#2f5fa7;
}
.paper12 {
  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
}
.paper11-scroll {
  transform: translate(-55%, 55%);
  transition: all 1s ease-out;
}
.paper12-scroll {
  transform: translate(56%, -56%);
  transition: all 1s ease-out;
}

.cover-part1-scroll {
  transform: translate(-55%, 55%);
  transition: all .8s ease-out;
  transition-delay: .2s;
  opacity: 1;
}

.cover-part2-scroll {
  transform: translate(55%, -55%);
  transition: all .8s ease-out;
  transition-delay: .2s;
  opacity: 1;
}

.qr-holder {
  position: absolute;
  width: 90%;
  height: 80%;
  left: 25%;
  top: 55%
}

.tv {
  position: absolute;
  width: 65%;
  height: 92%;
  top: 5%;
  left: 17.5%;
  z-index: 999999999999;
  border: solid 5px #2f5fa7;
}